/*---------Own style by Silvia--------*/
#btn_StyleB3:hover{
    width: 150px;
    height: 45px;
    transition-duration: 2s;
    background: #49F5C1;
    color: #fff;
    border-radius: 15px;
}



#input_StyleB3:hover{
    background:#E6F8E3;
    border-radius: 18px;
}

/*-----Global style-----*/

input:hover{
    /*width: 250px;*/
    border-radius: 12px;
}

