@(message: String,  searchForm: Form[FormularioEmpresa], postUrl: play.api.mvc.Call)
@import helper._

@main(message) {
<h1> Formulario Empresa</h1>
<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }
    <fieldset>

        <div class="row">
            <div class="col-md-4"> @inputText(

                searchForm("nombre"),
                '_label -> "Nombre de la Empresa: ",
                '_help -> "required",
                'class -> "form-control"
                )
            </div>
            <div class="col-md-4">
                @inputText(
                searchForm("direccion"),
                '_label -> "Direccion de la Empresa: ",
                '_help -> "required",
                'class -> "form-control"
                )</div>
            <div class="col-md-4"> @inputText(
                searchForm("telefonoContacto"),
                '_label -> "Telefono del Contacto:",
                '_help -> "required",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4"> @inputText(
                searchForm("correoEmpresa"),
                '_label -> "Correo de la Empresa:",
                '_help -> "required",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-8">
                @textarea(searchForm("perfilEmpresa:"),
                '_label -> "Perfil Empresarial: ",
                '_help -> "required",
                'class -> "form-control")
            </div>
        </div>
</fieldset>
<fieldset>
            <div>
                <h4>Seleccione sus intereses:</h4>
                <input name="estadoContrataciones" type="radio"  checked="" value="1"/>Practicantes
                <br/>
                <input name="estadoContrataciones" type="radio" value="2"/>Profesionales
                 <br/>
                 <input name="estadoContrataciones" type="radio" value="3"/>Pasantias
                <br/>
            </div><br><br>
</fieldset>
<fieldset>
            <div class="col-md-4">
                @textarea(searchForm("otrasContrataciones:"),
                '_label -> "Otras Contrataciones: ",
                '_help -> "",
                'class -> "form-control")
            </div>
    </fieldset>
        



    <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Guardar formulario">
    </div>
    }
}
