@(message: String,  searchForm: Form[FormularioEmpresa], postUrl: play.api.mvc.Call)
@import helper._

@main(message) {
<h1> Formulario Empresa</h1>
<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }

    <fieldset>

        <div class="row">
            <div class="col-md-4"> @inputText(
                searchForm("nombre"),
                '_label -> "Nombre de la Empresa: ",
                '_help -> "required",
                'class -> "form-control"
                )</div>
         
            <div class="col-md-4">
                @textarea(searchForm("direccion"),
                '_label -> "Direccion de la Empresa: ",
                '_help -> "required",
                'class -> "form-control")
            </div>
            <div class="col-md-4"> @inputText(
                searchForm("telefonoContacto"),
                '_label -> "Telefono del Contacto:",
                '_help -> "required",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4"> @inputText(
                searchForm("correoEmpresa"),
                '_label -> "Correo de la Empresa:",
                '_help -> "required",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-8">
                @textarea(searchForm("perfilEmpresa:"),
                '_label -> "Perfil Empresarial: ",
                '_help -> "required",
                'class -> "form-control")
            </div>
        </div>
</fieldset>
<fieldset>
            <div>
                <h4>Seleccione sus intereses:</h4>
                <input name="practicantes" type="checkbox" />Practicantes
                <br/>
                 <input name="profesionales" type="checkbox" />Profesionales
                 <br/>
                <input name="pasantias" type="checkbox" />Pasantias
                <br/>
            </div><br><br>
</fieldset>
<fieldset>
            <div class="col-md-4">
                @textarea(searchForm("otrasContrataciones:"),
                '_label -> "Otras Contrataciones: ",
                '_help -> "",
                'class -> "form-control")
            </div>
    </fieldset>
        



    <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Guardar Formulario") >
    </div>
    }
}


<!--<!DOCTYPE html>
<html>
    <head>
        <title>Formulario Empresa</title>
       <!--<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align="center">Formulario Empresa</h1>
        <form method="get"action=""target="blank">
            <h1>Datos de la Empresa</h1>
            <label>Nombre de la Empresa:</label><input type="text"name="nombre"id="name"class="name"><br><br>
            <label>Direccion exacta:</label><input type="text"name="direccion"id="direccion"class="direccion"><br><br>
            <label>Telefono de la Empresa:</label><input type="text"name="telefono1"id="telefono"class="telefono"><br><br>
            <label>Telefono del contacto:</label><input type="text"name="telefonocontacto"id="telefonoContacto"class="telefonoContacto"><br><br>
            <label>Correo Electronico:</label><input type="text"name="correo"id="correo"class="correo"><br><br>
            <label><strong>Estado:</strong></label><br><br>
            <input type="radio"name="practica"value="Practicantes"/><label>Practicantes</label><br><br>
            
            <input type="radio"name="profesionales"value="Profesionales"/><label>Profesionales</label><br><br>
            
            <input type="radio"name="pasantias"value="Pasantias"/><label>Pasantias</label><br><br>
            
            
            <label>Perfil Empresarial:</label><br><br>
            <textarea name="perfil"rows="15"cols="70">Escribe aqui el perfil empresarial de tu empresa</textarea><br><br>
            <input type="submit" name="boton" value="Guardar Datos"/>
        </form>
    </body>
</html>-->

