<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Formulario Empresa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align="center">Formulario Empresa</h1>
        <form method="get"action=""target="blank">
            <h1>Datos de la Empresa</h1>
            <label>Nombre de la Empresa:</label><input type="text"name="nombre"id="name"class="name"><br><br>
            <label>Direccion exacta:</label><input type="text"name="direccion"id="direccion"class="direccion"><br><br>
            <label>Telefono de la Empresa:</label><input type="text"name="telefono1"id="telefono"class="telefono"><br><br>
            <label>Telefono del contacto:</label><input type="text"name="telefonocontacto"id="telefonoContacto"class="telefonoContacto"><br><br>
            <label>Correo Electronico:</label><input type="text"name="correo"id="correo"class="correo"><br><br>
            <label><strong>Estado:</strong></label><br><br>
            <input type="radio"name="practica"value="Practicantes"/><label>Practicantes</label><br><br>
            
            <input type="radio"name="profesionales"value="Profesionales"/><label>Profesionales</label><br><br>
            
            <input type="radio"name="pasantias"value="Pasantias"/><label>Pasantias</label><br><br>
            
            
            <label>Perfil Empresarial:</label><br><br>
            <textarea name="perfil"rows="15"cols="70">Escribe aqui el perfil empresarial de tu empresa</textarea><br><br>
            <input type="submit" name="boton" value="Guardar Datos"/>
        </form>
    </body>
</html>
