@(message: String,  searchForm: Form[FormularioEstudiante], anio: List[Integer],postUrl: play.api.mvc.Call)
@import helper._

@main(message) {
<h1> Formulario Estudiante</h1>
<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }
<div>
     <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#datosPersonales" aria-controls="datosPersonales" role="tab" data-toggle="tab">Datos Personales</a></li>
    <li role="presentation"><a href="#datosLaborales" aria-controls="datosLaborales" role="tab" data-toggle="tab">Datos Laborales</a></li>
    <li role="presentation"><a href="#experienciaLaboral" aria-controls="experienciaLaboral" role="tab" data-toggle="tab">Experiencia Laboral</a></li>
    <li role="presentation"><a href="#educacion" aria-controls="educacion" role="tab" data-toggle="tab">Educacion</a></li>
  </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="datosPersonales">
             <fieldset>
        <h2>Datos Personales</h2>
        <div class="row">
            <div class="col-md-4"> @inputText(
                searchForm("nombre"),
                '_label -> "Nombre: ",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
         
            <div class="col-md-4">
                @inputText(searchForm("primerApellido"),
                '_label -> "Primero Apellido: ",
                '_help -> "Requerido",
                'class -> "form-control")
            </div>
            <div class="col-md-4"> @inputText(
                searchForm("segundoApellido"),
                '_label -> "Segundo Apellido:",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
          
            <br><br><div class="col-md-4"> @inputText(
                searchForm("fechaNacimiento"),
                '_label -> "Fecha de Nacimiento:",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4">
                @inputText(searchForm("cedula"),
                '_label -> "Identificacion: ",
                '_help -> "Requerido",
                'class -> "form-control")
            </div>
           
            <div class="col-md-4">
                @inputText(searchForm("correo"),
                '_label -> "Correo Electronico: ",
                '_help -> "Requerido",
                'class -> "form-control")
            </div>
            <div>
                <h4>Genero:</h4>
                <input name="genero" type="radio" value="genero" />Masculino
                <br>
                <input name="genero" type="radio" value="genero" />Femenino
            </div><br>
    
                <select name="estadoCivil" class="form-control">
                    <option value="soltero">Soltero</option>
                    <option value ="casado">Casado</option>
                     <option value ="divorciado">Divorciado</option>
                      <option value ="unionlibre">Union Libre</option>
                       <option value ="viudo">Viudo</option>
                </select>
            
          
            <div class="col-md-4">
                @inputText(searchForm("paisNacimiento"),
                '_label -> "Pais de Nacimiento: ",
                '_help -> "Requerido",
                'class -> "form-control")
            </div>
            <div class="col-md-4"> @inputText(
                searchForm("lugarResidencia"),
                '_label -> "Lugar de Residencia:",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4">
                @textarea(searchForm("direccion"),
                '_label -> "Direccion de Residencia: ",
                '_help -> "Requerido",
                'class -> "form-control")
            </div>
            <div class="col-md-4"> @inputText(
                searchForm("telefonoMovil"),
                '_label -> "Telefono Movil",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4">
                @inputText(searchForm("telefonoCasa"),
                '_label -> "Telefono Casa: ",
                '_help -> "",
                'class -> "form-control")
            </div>
           <div>
                <h4>Licencia de Conducir:</h4>
                <input name="licencia" type="radio" value="genero" />Si
                <br>
                <input name="licencia" type="radio" value="genero" />No
            </div><br>
    <div class="col-md-8"> @textarea(
                searchForm("perfilPersonal"),
                '_label -> "Perfil Personal:",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
 </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="datosLaborales">
            
<fieldset>

            <h2>Datos Laborales</h2>
            <div class="col-md-4">
                @inputText(searchForm("profesion"),
                '_label -> "Profesion: ",
                '_help -> "",
                'class -> "form-control")
            </div>
            <div class="col-md-8"> @textarea(
                searchForm("perfilProfesional"),
                '_label -> "Perfil Profesional:",
                '_help -> "",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4">
                @inputText(searchForm("anosExperiencia"),
                '_label -> "Años de Experiencia:",
                '_help -> "",
                'class -> "form-control")
            </div>
             <div>
             <br>
                 <h4> Estado Laboral:</h4>
                <input name="estadoLaboral" type="radio" value="estadoLaboral" />Empleado
                <br>
                <input name="estadoLaboral" type="radio" value="estadoLaboral" />Desempleado
                <br>
                <input name="estadoLaboral" type="radio" value="estadoLaboral" />Practica Profesional
                <br>
                <h4>Posibilidad Trasladarse:</h4>
                <input name="traslado" type="radio" value="traslado" />Si
                <br>
                <input name="traslado" type="radio" value="traslado" />No
            </div>
 </fieldset>
        </div>
        <div role="tabpanel" class="tab-pane" id="experienciaLaboral">
            <fieldset>
            <h2>Experiencia Laboral</h2>
            <div class="col-md-4"> @inputText(
                searchForm("empresa"),
                '_label -> "Empresa:",
                '_help -> "",
                'class -> "form-control"
                )</div>
          
            <div class="col-md-4">
                @inputText(searchForm("puesto"),
                '_label -> "Puesto: ",
                '_help -> "",
                'class -> "form-control")
            </div>
            <div class="col-md-4"> @inputText(
                searchForm("anosTrabajo"),
                '_label -> "Años de Trabajo:",
                '_help -> "",
                'class -> "form-control"
                )</div>
 </fieldset>

        </div>
        <div role="tabpanel" class="tab-pane" id="educacion">
            <fieldset>
            <h2>Educacion Formal</h2>
            <div class="col-md-4">
                @inputText(searchForm("titulo"),
                '_label -> "Titulo: ",
                '_help -> "Requerido",
                'class -> "form-control")
            </div>
            <div class="col-md-4"> @inputText(
                searchForm("institucion"),
                '_label -> "Institucion:",
                '_help -> "Requerido",
                'class -> "form-control"
                )</div>
                </br></br>
            <div>
               <h4>Año Ingreso:</h4>
        <select name="anoIngresoFormal" class="form-control">
           
            @for( anyo <- anio){
             <option value="@anyo"> @anyo </option>
            }
        </select>
               <h4>Año Finalizacion:</h4>
        <select name="anoFinalFormal" class="form-control">
            
            @for( anyo <- anio){
              <option value="@anyo"> @anyo </option>
            }
        </select>
            </div>
 </fieldset>
 <fieldset>
          <h2>Idiomas</h2>
            <div class="col-md-4">
                @textarea(searchForm("idiomas"),
                '_label -> "Idiomas: ",
                '_help -> "",
                'class -> "form-control")
            </div>
 </fieldset>
 <fieldset>
          <h2>Educacion No Formal</h2>
         
            <div class="col-md-4">
                @textarea(searchForm("otrosTitulos"),
                '_label -> "Otros Titulos: ",
                '_help -> "",
                'class -> "form-control")
            </div>
          
 </fieldset>
            <h2>Subir Archivos</h2>
            <input name="imagen" type="file" />
        <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Guardar Formulario">
        </div>
        </div>
    
  </div>
 
</div>       

   
    }
}

