@(message:String,loginForm: Form[ApplicationEmpresa.Login])
@import helper._
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
@main(null) {
<h1>Iniciar seccion Empresa</h1>

@form(routes.ApplicationEmpresa.authenticate(), 'class -> "form") {

    @if(loginForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @loginForm.globalError.message
        </div>
    }
     <fieldset>
         <div class="row">
            <div class="col-md-4">@inputText(
                loginForm("cfi"),'_showErrors -> true,
                 '_label -> "CFI EMPRESA",
                '_help -> "Requerido",
                'class -> "form-control"
                )
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"> @inputPassword(
                loginForm("password"),'_showErrors -> true,
                '_label -> "Password",
                '_help -> "Requerido",
                'class -> "form-control"
                )
            </div>   
        </div>        
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-success" value="Iniciar Sesion" >
    </div>

  }
  <form action="@routes.HomeController.index()">
                <div class="form-actions text-center">
                    <input type="submit" class="btn btn-success" value="Volver a Principal">
                </div>
    </form>
    }