@(message:String,loginForm: Form[ApplicationUser.Login])
@import helper._
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
@main(null) {
<h1>Iniciar seccion Empresa</h1>

@form(routes.ApplicationUser.authenticate(), 'class -> "form") {

    @if(loginForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @loginForm.globalError.message
        </div>
    }
     <fieldset>
         <div class="row">
            <div class="col-md-4">@inputText(
                loginForm("cfi"),'_showErrors -> true,
                 '_label -> "CFI EMPRESA",
                '_help -> "requeried",
                'class -> "form-control"
                )
            </div>
        </div>
         
        <div class="row">
            <div class="col-md-4"> @inputPassword(
                loginForm("password"),'_showErrors -> true,
                '_label -> "password",
                '_help -> "required",
                'class -> "form-control"
                )
            </div>   
        </div>
        
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-success" value="Iniciar Seccion" >
    </div>

  }
    }