<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Iniciar Sesion Empresa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align="center">Iniciar Sesion</h1><br><br><br>
        <form method = "get"action="" target="blank">
            <label>Codigo CFI:</label>
            <input type="text" name="nombre"id="name"class="name"/> <br><br><br>
          
            <label>Contrasena:</label>
            <input type="password"name="contrasena"id="pass"class="pass"/><br><br><br>
            
            <input name="boton"type="submit"value="Iniciar Sesion"/><br><br><br>
            <a href="registroEmpresa.scala.html">Registrarse</a><br><br><br>
        </form>
        <div></div>
    </body>
</html>
