@(message: String )
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
@main(message) {
<div class="text" role="group" aria-label="...">
      <label>Correo</label>
            <input type="text"name="cfi"id="correo" class="correo"><br><br><br>      
      <label>Contraseña :</label>
    <h2>Iniciar Sesion Estudiantes</h2><br>
      <label>Nombre o Correo:</label>
            <input type="text"name="cfi"id="correo" class="correo"><br><br><br>      
      <label>Contraseña :</label>
            <input type="password"name="contrasena"id="pass"class="pass"/><br><br><br>
    </div>   
    <a href="@routes.HomeController.perfilEstudiante()" class="btn btn-default">Acceder</a></br></br>
    
}


