@(title: String, scripts: Html = Html("") )(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
    <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/personal.css")">
       
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container"><div class="well"> 
       <h1>Bolsa de Empleo UCR  @title</h1>
         @content
            </div></div>
</html>
