@(message: String )

@main(message) {
<div class="container">
<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
</style>

</head>
<body>
<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active">
        
        <a href="@routes.ApplicationEstudiante.homeEst()"> 
            <span class="glyphicon glyphicon-log-in"></span>  Iniciar Sesion</a>
        
    </li></br></br>
    <li role="presentation">
        
        <a href="@routes.ApplicationEstudiante.registroEstudianteGet()">
            <span class="glyphicon glyphicon-user"></span>  Registrarme </a></li></br></br>
</ul>
</body>
</html>

</div>
}
