@(message: String,  formEst: List[FormularioEstudiante],registroEstudiante:RegistroUsuario)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Perfil Estudiante</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <label>Perfil Estudiante</label>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bolsa de Empleo UCR</a>
    </div>
    <ul class="nav navbar-nav">
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfil<span class="caret"></span></a>  
                <ul class="dropdown-menu">
                    @for(formulario <- formEst) {
                    <li class="list-group-item" >@formulario.nombre
                        <li><a href="@routes.HomeController.editarPerfilPost(formulario.id)">Modificar Formulario</a></li>
                        <li><a href="@routes.HomeController.eliminarFormularioEstudiante(formulario.id)">Eliminar Formulario</a></li>
                        <li><a href="#">Ver Formulario</a></li> 
                    </li>
                     }
                </ul>
                
            
      <li><a href="#">Convertir en PDF</a></li>
      <li><a href="#">Traducir a Ingles</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="@routes.ApplicationEstudiante.logout()"><span class="glyphicon glyphicon-user"></span> Salir</a></li>
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->

    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Perfil Estudiante</h3>
  <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
</div>

</body>
</html>

