@(message: String)
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Perfil Empresa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bolsa de Empleo UCR</a>
    </div>
    <ul class="nav navbar-nav">]
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfil <span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="#">Modificar Pefil</a></li>
          <li><a href="#">Ver Perfil</a></li>
          <li><a href="#">Eliminar Pefil</a></li> 
        </ul>
      </li>
      <li><a href="#">Convertir en PDF</a></li>
      <li><a href="#">Traducir a Ingles</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Salir</a></li>
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Pefil Estudiante</h3>
  <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
</div>

</body>
</html>

