@(message: String,  formEst: List[FormularioEstudiante],registroEstudiante:RegistroUsuario   )
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Perfil Estudiante</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <label>Perfil Estudiante</label>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bolsa de Empleo UCR</a>
    </div>
    <ul class="nav navbar-nav">
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Perfil<span class="caret"></span></a>  
                <ul class="dropdown-menu">
                    @if(!formEst.isEmpty()){
                        @for(formulario <- formEst) {
                        <li class="list-group-item" >@formulario.nombre
                            <li><a href="@routes.ControllerEstudiante.editarPerfilPost(formulario.id)">Modificar Formulario</a></li>
                            <li><a href="@routes.ControllerEstudiante.eliminarFormularioEstudiante(formulario.id)">Eliminar Formulario</a></li>
                            
                        </li>
                        }
                    }else{
                    <li> <a href="@routes.ControllerEstudiante.crearFormularioEstudianteGet()">Crear Formulario</a> </li>
                     }
                </ul>
                
            
      <li><a href="@routes.ControllerEstudiante.document()">Convertir en PDF</a></li>
      <li><a href="#">Traducir a Ingles</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="@routes.ApplicationEstudiante.logout()"><span class="glyphicon glyphicon-user"></span> Salir</a></li>
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->

    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Perfil Estudiante</h3>
     @for(formulario <- formEst) {
     <h2>Datos Personales</h2>
     <label>Nombre: </label> @formulario.nombre
     <br><label>Primer Apellido: </label> @formulario.primerApellido
     <br><label>Segundo Apellido: </label> @formulario.segundoApellido
     <br><label>Fecha Nacimiento: </label> @formulario.fechaNacimiento
     <br><label>Cedula: </label> @formulario.cedula
     <br><label>Correo Electronico: </label> @formulario.correo
     <br><label>Estado Civil: </label> @formulario.estadoCivil
     <br><label>Genero: </label> @formulario.genero
     <br><label>Pais Nacimiento: </label> @formulario.paisNacimiento
     <br><label>Lugar Residencia: </label> @formulario.lugarResidencia
     <br><label>Direccion: </label> @formulario.direccion
     <br><label>Telefono Casa: </label> @formulario.telefonoCasa
     <br><label>Telefono Movil: </label> @formulario.telefonoMovil
     <br><label>Licencia: </label> @formulario.licencia
     <br><label>Perfil Personal: </label> @formulario.perfilPersonal
     <br><h2>Datos Laborales</h2>
     <br><label>Profesion: </label> @formulario.profesion
     <br><label>Perfil Profesional: </label> @formulario.perfilProfesional
     <br><label>Años Experiencia: </label> @formulario.anosExperiencia
     <br><h2>Experiencia Laboral</h2>
     <br><label>Empresa: </label> @formulario.empresa
     <br><label>Puesto: </label> @formulario.puesto
     <br><label>Años de Trabajo:</label> @formulario.anosTrabajo
     <br><label>Empresa: </label> @formulario.empresa2
     <br><label>Puesto: </label> @formulario.puesto2
     <br><label>Años de Trabajo:</label> @formulario.anosTrabajo2
     <br><label>Empresa: </label> @formulario.empresa3
     <br><label>Puesto: </label> @formulario.puesto3
     <br><label>Años de Trabajo:</label> @formulario.anosTrabajo3
     <br><label>Otros Trabajos: </label> @formulario.otrosTrabajos
     <br><label>Estado Laboral: </label> @formulario.estadoLaboral
     <br><label>Posibilidad de Trasladarse: </label> @formulario.traslado
     <br><h2>Educacion </h2>
     <br><label>Titulo: </label> @formulario.titulo
    <br><label>Institucion: </label> @formulario.institucion
     <br><label>Años Ingreso: </label> @formulario.anoIngresoFormal
     <br><label>Año Finalizacion: </label> @formulario.anoFinalFormal
     <br><label>Titulo: </label> @formulario.titulo2
     <br><label>Institucion: </label> @formulario.institucion2
     <br><label>Años Ingreso: </label> @formulario.anoIngresoFormal2
     <br><label>Año Finalizacion: </label> @formulario.anoFinalFormal2
     <br><label>Otros Titulos: </label> @formulario.otrosTitulos
     <br><label>Otros Titulos Educacion Formal: </label> @formulario.otrosTitulosFormales
     <br><label>Idiomas: </label> @formulario.idiomas
     <br><br>
     
     }
</div>

</body>
</html>

