@(message: String, searchForm: Form[RegistroUsuario], postUrl: play.api.mvc.Call)
@import helper._
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
@main(message) {
<h1>Registro Estudiante</h1>
<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }
    <fieldset>
        <div class="row">
            <div class="col-md-4"> @inputText(
                searchForm("nombre"),'_showErrors -> true,
                '_label -> "Nombre Completo",
                '_help -> "required",
                'class -> "form-control"
                )
            </div>   
        </div>
        <div class="row">
            <div class="col-md-4">@inputText(
                searchForm("correo"),'_showErrors -> true,
                 '_label -> "Correo",
                '_help -> "requeried",
                'class -> "form-control"
                )
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">@inputText(
                searchForm("telefono"),
                  '_label -> "Telefono",
                '_help -> "requeried",
                'class -> "form-control"
                )
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@inputPassword(
                searchForm("contrasenia"),'_showErrors -> true,
                '_label -> "Contraseña",
                '_help -> "requeried",
                'class -> "form-control")
            </div>   
        </div>
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-success" value="Registrarse" >
    </div>
    }
}

