<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Registrar Empresa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.1.3/jquery.min.js">
        </script>   
        <script type ="text/javascript" src=""></script>
        <link type="text/css" hret="" rel="stylesheet"></link>
        
    </head>
    
    <body>
        <h1 align="center">Registro Empresa</h1>
        <br><br>
        <form aling="center"method = "get"action="formularioEmpresa.scala.html" target="blank">
            <label>Nombre Empresa:</label>
            <input type="text" name="nombre"id="name"class="name"/> <br><br><br>
            
            <label>Codigo CFI:</label>
            <input type="text"name="correo"id="correo" class="correo"><br><br><br>
            
            <label>Contrasena</label>
            <input type="password"name="contrasena"id="pass"class="pass"/><br><br><br>
            
            <form method="get" action="formularioEmpresa.scala.html"target="blank"/>
                <input align="center"name="boton"type="submit"value="Registrarse"/><br><br><br>
            
            
        </form>
        
        <div></div>
    </body>
</html>
