@(message: String )
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
@main(message) {
<div class="container">
    <!--<h1> Bolsa de Empleo UCR </h1>-->
   <div class="text" role="group" aria-label="...">
    <h2>Registro Estudiante</h2><br>
       <label>Nombre Completo:</label>
            <input type="text" name="nombre"id="name"class="name"/> <br><br><br>
      <label>Contraseña:</label>
            <input type="password"name="contrasena"id="pass"class="pass"/><br><br><br>
      <label>Telefono:</label>
            <input type="text"name="telefono"id="pass"class="pass"/><br><br><br>      
      <label>Correo Electronico:</label>
            <input type="text"name="correo"id="pass"class="pass"/><br><br><br>
    </div>   
    <a href="@routes.HomeController.crearFormularioEstudianteGet()" class="btn btn-default">Registrar</a></br></br>
    
  
</div>
}
