@(message: String, searchForm: Form[RegistroEmpresa], postUrl: play.api.mvc.Call)
@import helper._
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
@main(message) {
<h1>Registro Empresa</h1>
<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }
    @for(error <- searchForm("passwordHash").errors) {
    <p> passwordHash @Messages(error.messages, error.arguments.toArray: _*)</p>
}
@for(error <- searchForm("creationDate").errors) {
    <p> creationDate @Messages(error.messages, error.arguments.toArray: _*)</p>
}
    <fieldset>
        <div class="row">
            <div class="col-md-4"> @inputText(
                searchForm("nombre"),'_showErrors -> true,
                '_label -> "Nombre",
                '_help -> "required",
                'class -> "form-control"
                )
            </div>   
        </div>
        <div class="row">
            <div class="col-md-4">@inputText(
                searchForm("cfi"),'_showErrors -> true,
                 '_label -> "CFI EMPRESA",
                '_help -> "requeried",
                'class -> "form-control"
                )
            </div>
        </div>
        <div class="row">
              <div class="col-md-4">@inputText(
                searchForm("correo"),
                '_label -> "Correo de la empresa",'_showErrors -> true,
                '_help -> "requeried",
                'class -> "form-control"
                )
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@inputText(
                searchForm("telefono"),
                  '_label -> "Telefono",
                '_help -> "requeried",
                'class -> "form-control"
                )
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">@inputPassword(
                searchForm("contrasenia"),'_showErrors -> true,
                '_label -> "Contrasenia",
                '_help -> "requeried",
                'class -> "form-control")
            </div>   
        </div>
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-success" value="Registrarse" >
        <a href="@routes.HomeController.crearFormularioEmpresaPost()" 
           class="btn btn-default">Llenar Formulario</a>
    </div>
    }
}

